absl-py==0.2.0
alabaster==0.7.11
astor==0.6.2
Babel==2.6.0
backcall==0.1.0
bash-kernel==0.7.1
behave==1.2.6
behave-django==1.1.0
bleach==1.5.0
certifi==2018.8.24
chardet==3.0.4
colorama==0.3.9
cycler==0.10.0
decorator==4.3.0
Django==2.1
docutils==0.14
entrypoints==0.2.3
et-xmlfile==1.0.1
gast==0.2.0
grpcio==1.11.0
h5py==2.8.0
html5lib==0.9999999
idna==2.7
imagesize==1.1.0
ipykernel==4.8.2
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.0
jdcal==1.4
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==3.0.3
mistune==0.8.3
mysql-connector-python==8.0.12
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.4
notebook==5.6.0
numpy==1.16.2
openpyxl==2.5.12
packaging==17.1
pandas==0.24.2
pandocfilters==1.4.2
parse==1.8.4
parse-type==0.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
prometheus-client==0.3.1
prompt-toolkit==2.0.9
protobuf==3.5.2.post1
ptyprocess==0.6.0
pygame==1.9.4
Pygments==2.2.0
pyparsing==2.2.0
PyQt5==5.11.2
PyQt5-sip==4.19.12
PySide2==5.11.1
python-dateutil==2.7.3
pytz==2018.5
pywinpty==0.5.4
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.1
requests==2.19.1
scikit-learn==0.20.3
scipy==1.2.1
selenium==3.14.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
SNAKES==0.9.26
snowballstemmer==1.2.1
Sphinx==1.7.9
sphinxcontrib-websupport==1.1.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.1
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
Werkzeug==0.14.1
widgetsnbextension==3.4.0
